<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOPSA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OOPSA.My.MySettings.drift8_2016ConnectionString" connectionString="persistsecurityinfo=True;server=colargol.tihlde.org;user id=drift8_2016;password=CdfdjA4taBDKuzpw;database=drift8_2016;sslmode=None"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<userSettings>
        <OOPSA.My.MySettings>
                <setting name="server" serializeAs="String">
                        <value>colargol.tihlde.org</value>
                </setting>
                <setting name="database" serializeAs="String">
                        <value>drift8_2016</value>
                </setting>
                <setting name="port" serializeAs="String">
                        <value>3306</value>
                </setting>
                <setting name="user" serializeAs="String">
                        <value>drift8_2016</value>
                </setting>
                <setting name="pass" serializeAs="String">
                        <value>CdfdjA4taBDKuzpw</value>
                </setting>
                <setting name="version" serializeAs="String">
                        <value />
                </setting>
        </OOPSA.My.MySettings>
    </userSettings>
</configuration>